<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Students</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <header th:insert="fragments.html :: heading"></header>

    <h1 th:text="#{allstudents.h1}">All Students</h1>

    <table class="centre-screen">
        <tr>
            <th th:text="#{allstudents.id}">ID</th>
            <th th:text="#{allstudents.email}">Email</th>
            <th th:text="#{allstudents.firstname}">First Name</th>
            <th th:text="#{allstudents.surname}">Surname</th>
        </tr>
        <tr th:each="student: ${allstudents}" th:object="${student}">
            <td th:text="*{studentId}"></td>
            <td><a th:text="*{studentEmail}" th:href="'/student/' + *{studentId}"></a></td>
            <td th:text="*{studentFname}"></td>
            <td th:text="*{studentSurname}"></td>
        </tr>
    </table>

    <footer th:replace="fragments.html :: languages"></footer>
</body>
</html>